<header class="nav" data-nav>
  <div class="nav__bar">
    <a class="brand" href="index.html" aria-label="Autoškola Zavřel, úvodní stránka">
      {{logo}}
      <span class="brand__text"><span class="brand__sub">Autoškola</span><span class="brand__name">Zavřel</span></span>
    </a>

    <nav class="nav__menu" aria-label="Hlavní navigace">
      <ul class="nav__list">
        <li class="nav__item nav__item--drop" data-drop>
          <button class="nav__link" type="button" aria-expanded="false" aria-controls="drop-ridicaky" data-nav-key="ridicaky">Řidičáky{{icon:chevron-down}}</button>
          <div class="drop drop--wide" id="drop-ridicaky">
            <div class="drop__grid">
              <a class="drop-car" href="rp-b.html" data-page="rp-b">
                <span class="drop-car__code">B</span>
                <span class="drop-car__name">Osobní automobil</span>
                <img src="assets/img/vehicles/skoda-rapid-sm.webp" alt="" width="800" height="387" loading="lazy">
              </a>
              <a class="drop-car" href="rp-a.html" data-page="rp-a">
                <span class="drop-car__code">A</span>
                <span class="drop-car__name">Motocykl</span>
                <img class="is-bike" src="assets/img/vehicles/kawasaki-z650-sm.webp" alt="" width="560" height="550" loading="lazy">
              </a>
              <a class="drop-car" href="rp-c.html" data-page="rp-c">
                <span class="drop-car__code">C</span>
                <span class="drop-car__name">Nákladní automobil</span>
                <img src="assets/img/vehicles/iveco-eurocargo-sm.webp" alt="" width="760" height="491" loading="lazy">
              </a>
              <a class="drop-car" href="rp-d.html" data-page="rp-d">
                <span class="drop-car__code">D</span>
                <span class="drop-car__name">Autobus</span>
                <img src="assets/img/vehicles/sor-10-sm.webp" alt="" width="800" height="338" loading="lazy">
              </a>
            </div>
          </div>
        </li>
        <li class="nav__item nav__item--drop" data-drop>
          <button class="nav__link" type="button" aria-expanded="false" aria-controls="drop-kurzy" data-nav-key="kurzy">Kurzy{{icon:chevron-down}}</button>
          <div class="drop" id="drop-kurzy">
            <a class="drop-link" href="kondicni-jizdy.html" data-page="kondicni-jizdy">{{icon:steering}}<span><b>Kondiční jízdy</b><small>Návrat jistoty za volant</small></span></a>
            <a class="drop-link" href="skoleni-ridicu.html" data-page="skoleni-ridicu">{{icon:graduation}}<span><b>Školení řidičů</b><small>Profesní a referentské</small></span></a>
            <a class="drop-link" href="vraceni-rp.html" data-page="vraceni-rp">{{icon:rotate}}<span><b>Vrácení řidičáku</b><small>Přezkoušení a poradenství</small></span></a>
            <a class="drop-link" href="rekvalifikace.html" data-page="rekvalifikace">{{icon:briefcase}}<span><b>Rekvalifikace</b><small>Hrazená Úřadem práce</small></span></a>
          </div>
        </li>
        <li class="nav__item"><a class="nav__link" href="cenik.html" data-page="cenik">Ceník</a></li>
        <li class="nav__item"><a class="nav__link" href="dokumenty.html" data-page="dokumenty">Dokumenty</a></li>
        <li class="nav__item"><a class="nav__link" href="#kontakt">Kontakt</a></li>
      </ul>
    </nav>

    <a class="btn btn--primary btn--sm nav__cta" href="tel:+420775999775">{{icon:phone}}<span>775 999 775</span></a>

    <button class="burger" type="button" aria-label="Otevřít menu" aria-expanded="false" aria-controls="mobile-menu" data-burger>
      <span></span><span></span>
    </button>
  </div>
</header>

<div class="mmenu" id="mobile-menu" data-mmenu aria-hidden="true" inert>
  <div class="mmenu__inner">
    <p class="mmenu__label" style="--i:0">Řidičáky</p>
    <div class="mmenu__cars">
      <a href="rp-b.html" style="--i:1"><b>B</b><span>Osobní auto</span></a>
      <a href="rp-a.html" style="--i:2"><b>A</b><span>Motocykl</span></a>
      <a href="rp-c.html" style="--i:3"><b>C</b><span>Nákladní auto</span></a>
      <a href="rp-d.html" style="--i:4"><b>D</b><span>Autobus</span></a>
    </div>
    <ul class="mmenu__links">
      <li style="--i:5"><a href="kondicni-jizdy.html">Kondiční jízdy</a></li>
      <li style="--i:6"><a href="skoleni-ridicu.html">Školení řidičů</a></li>
      <li style="--i:7"><a href="vraceni-rp.html">Vrácení řidičáku</a></li>
      <li style="--i:8"><a href="rekvalifikace.html">Rekvalifikace</a></li>
      <li style="--i:9"><a href="cenik.html">Ceník</a></li>
      <li style="--i:10"><a href="dokumenty.html">Dokumenty</a></li>
      <li style="--i:11"><a href="#kontakt">Kontakt</a></li>
    </ul>
    <div class="mmenu__foot" style="--i:12">
      <a class="btn btn--primary" href="tel:+420775999775">{{icon:phone}}Zavolat</a>
      <a class="btn btn--ghost" href="mailto:autoskolahlinsko@gmail.com">{{icon:mail}}Napsat</a>
    </div>
  </div>
</div>
